# Xcode
.DS_Store
build/
DerivedData/
*.xcuserstate
*.xcuserdata/

# Swift Package Manager
.build/
Packages/
Package.resolved

# CocoaPods
Pods/
*.xcworkspace

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/*.png
fastlane/screenshots/**/*.png
openai_whisper-small/

# Logs
*.log

# Temporary files
*.swp
*.tmp

# Archives
*.xcarchive

# User-specific settings
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3

# Playgrounds
timeline.xctimeline
playground.xcworkspace

*.gguf
*.mlmodelc
